body {
  margin: 0; 
  overflow: scroll;
}
#header-style {
  font-family: Arial, sans-serif;
  position: sticky; 
  padding: 1em; 
  background: white; 
  z-index: 1000; 
  color: black; 
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
#header-style a {
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: black;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 10px;
}

#header-style a:hover {
  padding: 20px;
  color: white;
  text-decoration: none;
  animation-name: hovernavlink;
  animation-duration: 0.5s;
  background-color: #007bff;
  border-radius: 3%;
}

@keyframes hovernavlink {
  from {
    background-color: transparent;
    color: black;
  }
  to {
    background-color: #007bff;
    color:white;
  }
}

#footer-style {
  position: relative; 
  height: 30%; 
  width: 100%;
  bottom: 0;
  text-align: center; 
  padding: 1em; 
  font-size: 1em; 
  background-color: white; 
  color: grey; 
  text-align: center;
}
